html,
body {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

#app::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    background: url('/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
}
